{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    <form action="{{ url_for('api.blog_post_update_nojs', instance_id=bp.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="next" value="/"/>
        <div class="form-group">
            <label for="journal-entry">Blog Post: </label>
            <textarea id="journal-entry" name="body" rows="12" class="form-control">{{ bp.body }}</textarea>
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
{% endblock %}
