{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    {% for dt, bps in dated_bp.iteritems() %}
        {% for bp in bps %}
            {% if current_user.has_role('admin') %}
                <a href="{{ url_for('client.get_blog_posts_edit', instance_id=bp.id) }}">edit</a>
                <a href="{{ url_for('api.blog_post_delete_nojs', instance_id=bp.id) }}" class="text-danger">delete</a>
            {% endif %}
            <blockquote class="blockquote">
                <footer class="blockquote-footer pull-right">
                    <cite>{{ bp.created_ts|format_dt("%A, %d %B, %H:%M") }}</cite>
                </footer>
                <p>{{ bp.body|markdown }}</p>
            </blockquote>
            <hr>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
{% endblock %}
