<div class="row">
    <div class="col-12">
        <ul class="nav">
            {% if current_user.is_authenticated and current_user.has_role('admin') %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ url_for('client.get_blog_posts_new') }}">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ url_for('security.logout') }}">Log Out</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('client.get_blog') }}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('client.get_projects') }}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('client.get_aboutme') }}">About Me</a>
            </li>
        </ul>
    </div>
</div>